.App {
  text-align: center;
  min-height: 100vh;
  margin: 0;
}

.cards {
  margin: 3rem auto;
}

.landing {
  margin: 4rem;
}

.header {
  margin-bottom: 4rem;
}

.landing-body {
  margin-bottom: 2rem;
}

.landing-form {
  width: 80%;
}

.form-div {
  width: 80%;
  margin: 0 auto;
}

.mode-change-button {
  width: auto;
}

input {
  width: 100%;
}

label {
  margin: 1rem 0
}

button {
  margin: 2rem 0;
}



hr {
  border-color: #F9C107
}

.card-header {
  border-bottom: 1px solid #F9C107;
  font-size: 1.5em;
}

.card-text {
  margin-top: 1rem;
}

form {
  width: 90%;
  margin: 0 auto;
}

textarea {
  margin: 0 auto;
  display: flex;
  width: 100%;
}